.root {
  height: 100%;
  :global {
    .logo {
      line-height: 40px;
      margin: 16px;
      background: orange;
      h2 {
        text-align: center;
        margin: 0;
        font-weight: bold;
      }
    }
    .header {
      padding: 0 40px;
      .content {
        float: right;
        .closebtn {
          margin-left: 20px;
        }
      }
    }
  }
}
